@keyframes shakeMargin {
  0% {
    margin-right: 0em;
  }
  50% {
    margin-right: 2em;
  }
  100% {
    margin-right: 0em;
  }
}

@keyframes shakePadding {
  0% {
    padding-left: 4em;
    padding-right: 4em;
  }
  50% {
    padding-left: 3em;
    padding-right: 5em;
  }
  100% {
    padding-left: 4em;
    padding-right: 4em;
  }
}

input {
  padding: 10px;
  color: red;
  background-color: green;
}

.img-container {
  --w: 80%;
  width: var(--w);
  height: 0;
  padding-top: var(--w);
  position: absolute;
  top: -27em;
  right: -22.5%;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 24em;
    object-fit: cover;
  }
}

.template {
  margin-top: 10em;
  padding-top: 8em;
  display: grid;
  grid-template-columns: 1fr;

  & > div:nth-child(1) {
    h1 {
      font-size: 4.5rem;
      margin: 0;
    }

    p {
      max-width: 35ch;
      font-size: 1.6rem;
      color: #aaa;
      margin-top: 1.3em;
    }
  }

  & > div:nth-child(2) {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-gap: 12em;
    padding-top: 4.7em;

    .style-selector {
      border-radius: 20px;
      box-shadow: 0px 11px 29px #e2928333;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.3em 5.3em;
      background-color: white;
      height: max-content;

      img {
        width: 5em;
        height: 5em;
        object-fit: cover;
        border-radius: 1.3rem;
        margin-right: 2.4em;
        transition: all 250ms;
        cursor: pointer;

        &:hover {
          transform: rotate(10deg) scale(1.2);
        }
        
        &.active {
          box-shadow: -12px 18px 22px var(--shadow-blur);
        }
      }

      button {
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        border: none;
        background-color: var(--navbar-bg2);
        padding: 1em 4em;
        border-radius: 13px;
        margin-left: auto;
        cursor: pointer;
        transition: all 500ms;

        &:hover {
          animation: shakeMargin 350ms ease 1, shakePadding 400ms ease 100ms 1;
        }
      }
    }

    .mini {
      color: inherit;

      img {
        width: 100%;
        border-radius: 40px;
        height: 24em;
        object-fit: cover;
        filter: hue-rotate(var(--cat-angle));
        transition: all 500ms;
      }
    }
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 17em;
  margin-left: 12em;
  grid-gap: 6rem;

  & > div:first-child {
    font-size: 1.9rem;
    color: #777;
    text-transform: capitalize;
    padding-left: 6.2em;
    width: 28em;

    strong {
      color: black;
    }
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fffaf4;
    padding: 6em 0 5em 8em;
    grid-gap: 3rem;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      width: 22em;
      height: calc(100% + 23em);
      bottom: 0;
      left: -22em;
      border-top-right-radius: 16em;
      background: linear-gradient(-47deg, #febea4, #e4b7a4, #febea2);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -10em;
      height: 100%;
      width: 10em;
      background-color: #fffaf4;
      border-top-right-radius: 1000px;
    }

    .card {
      --transition-time: 400ms;
      font-size: 1.7rem;
      padding: 2em;
      border-radius: 1em;
      background-color: white;
      transform-style: preserve-3d;
      transition: all var(--transition-time);
      cursor: pointer;

      &:hover {
        transform: perspective(24em)
        rotate3d(1, 0, 0, 35deg)
        rotate3d(0, 1, 0, 21deg)
        rotate3d(0, 0, 1, -10deg);
        box-shadow: -20px 61px 33px rgba(0, 0, 0, 0.2);

        div {
          box-shadow: 0px .5em 16px rgba(0, 0, 0, 0.2);
        }

        span, h3 {
          text-shadow: 0px .5em 16px rgba(0, 0, 0, 0.2);
        }
      }
      
      .icon-container {
        width: 2.3em;
        height: 2.3em;
        border-radius: 34%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all var(--transition-time);

        &#icon1 {
          background-color: #fde78f;
        }

        &#icon2 {
          background-color: #ff6576;
        }

        &#icon3 {
          background-color: #72abef;
        }
      
        img { 
          width: 1em;
          height: 1em;
          fill: white;
        }
      }

      h3 {
        font-weight: bold;
        font-size: 1.7rem;
        margin-top: 1.5em;
        margin-bottom: .5em;
        transition: all var(--transition-time);
      }

      span {
        font-weight: bold;
        font-size: 1.1rem;
        transition: all var(--transition-time);
      }
    }
  }
}