:root {
  --navbar-background: transparent;
  --navbar-boxshadow: 0px 0px 0px transparent;
  --navbar-bborder: #ff8b89;
  --navbar-bcolor: black;
  --navbar-bhcolor: white;
  --navbar-bg1: #e29283;
  --navbar-bg2: #e55a5a;
  --shadow-blur: #e55a5a88;
  --cat-angle: 250deg;
}

* {
  font-family: 'Oxygen', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0 10em;
  /* background: url(/src/assets/background.jpg); */
  background-position: top left;
  background-size: contain;
}